.hidden {
  display: none;
}

body {
  background-color: rgba(128, 128, 128, 0.011);
}

h1 {
  /* font-family: 'Dancing Script';
  font-size: 50px;
  border: solid rgb(149, 216, 255);
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
	height: 100%;
	padding: 30px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #06c46569 10%, #05a3ff69 100%); */

  position: relative;
  color: #fff;
  font: 900 60px Montserrat;
  text-shadow: 0 10px 25px rgb(0 0 0 / 30%);
  text-align: center;
  background: url(https://meowlivia.s3.us-east-2.amazonaws.com/codepen/background/glacier.jpg);
}

h3 {
  font-family: 'Dancing Script';
  font-size: 50px;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
	height: 100%;
	padding: 30px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #06c46569 10%, #05a3ff69 100%);
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 15%;
  /* margin: 4px 2px; */
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button1:hover {
  background-color: #e7e7e7;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

select {
  width: 15%;
  border-radius: 8px;
}

.topparagraph {
  text-align: center;
}

.formbg {
  width:100%;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:2px 4px 10px rgba(0, 0, 0, 0.105);
  background-color: white;
}

.stylebody {
  margin-left: 110px;
  margin-right: 110px;
}
